<!DOCTYPE html>
<html>
	<head>
		<title>Contact Us</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/css/style.css"/>
	</head>
	<body>
		<header>
			<a class = "header_button" href = {{url_for('index')}}> Homepage </a>
			<a class = "header_button" href = {{url_for('about')}}> About Us </a>
			<a class = "header_button" href = {{url_for('contact')}}> Contact Us </a>
		</header>
		<h1> Contact Us </h1>
		<p id="top">
			{% for notification in notifications %}
				{{ notification }}
			{% endfor %}
		</p>
		<form name = "myContact" onsubmit="return validation();" action='/contact' method='POST'>
		 	Name:<br>
		 	<input type="text" name="name">
			<br>
		  	Subject:<br>
			<input type="text" name="subject">
			<br>
			Message:<br>
			<input type="text" name="message">
			<br>
			<button type="submit" value="Submit"> Submit </button>
		</form> 
		<br>
		<footer>
			<a class = "footer_button" href = {{url_for('index')}}> Homepage </a>
			<a class = "footer_button" href = {{url_for('about')}}> About Us </a>
			<a class = "footer_button" href = {{url_for('contact')}}> Contact Us </a>
		</footer>
		<script src="/static/js/script.js"></script>
	</body>
</html>
	
